<h1><%= @item.name %></h1>
<p><%= @item.description %></p>
<p>Completado: <%= @item.completed ? 'Sim' : 'Não' %></p>

<%= link_to 'Editar', edit_list_item_path(@list, @item) %>
<%= link_to 'Excluir', [@list, @item], method: :delete, data: { confirm: 'Tem certeza?' } %>
<%= link_to 'Voltar', list_items_path(@list) %>